.link {

    text-align:start;
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    margin-bottom: 25px;
    text-decoration: none;
    color: gray;
    font-size: 16px;
    font-weight: 700;
}

.userWrapper{
padding: 50px 0px 20px ;
}

.link:hover{
    color: white;
    transition-duration: 300ms;
}

.link:nth-child(1){
    
    word-break: break-all;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px;
    justify-content: center;
    opacity: 0.4;
    background: #000;
    font-size: 20   px;
}



.link:nth-child(1):before {
    content: "";
    background-image: url(../../../shared/images/Profile.png);
    background-repeat: no-repeat;
    height: 40px;
    width: 50px;
    background-size: contain;
    margin-right: 20px;
}

.link:nth-child(2):before {
    content: "";
    background-image: url(../../../shared/images/Home.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-right: 20px;
}

.link:nth-child(3):before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../../../shared/images/User.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-right: 20px;
}

.link:nth-child(4):before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../../../shared/images/Call.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-right: 20px;
}

.link:nth-child(5):before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../../../shared/images/TicketPrice.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-right: 20px;
}

.link:nth-child(6):before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../../../shared/images/Contacts.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-right: 20px;
}

.link:nth-child(7):before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../../../shared/images/CarFront.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-right: 20px;
}

.link:nth-child(8):before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../../../shared/images/Mail.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-right: 20px;
}

.link:nth-child(9):before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../../../shared/images/Send.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-right: 20px;
}

.link:nth-child(10):before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../../../shared/images/Group.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-right: 20px;
}

.link:nth-child(11):before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../../../shared/images/Ticket.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-right: 20px;
}

.link:nth-child(12):before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../../../shared/images/World.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-right: 20px;
}

.link:nth-child(13):before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../../../shared/images/iPhone.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-right: 20px;
}

.link:nth-child(14):before {
   
    background-repeat: no-repeat;
    content: "";
    background-image: url(../../../shared/images/Rotate.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-right: 5px;
}

.link:nth-child(15):before {
    background-repeat: no-repeat;
    content: "";
    background-image: url(../../../shared/images/Settings.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-right: 5px;
}

.link:nth-child(13) {
    margin-bottom: 50px;
}

.link:nth-child(14){
opacity: 0.5;
justify-content:center ;
}

.link:nth-child(15) {
    opacity: 0.5;
    justify-content: center;
}

.link:nth-child(16) {
    opacity: 0.5;
    justify-content: center;
}

.linkActive {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    /* text-decoration: underline solid #FF6B09; */
}

.btn {
    opacity: 0.5;
     width: 100px;
    display: inline-block;
    font-family: 'Montserrat';
    padding: 8px;
    border-radius: 15px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
        display: flex;
        align-items: center;
        height: 30px;
        margin-bottom: 25px;
        text-decoration: none;
        color: gray;
        font-size: 16px;
        font-weight: 700;
}

.btn:hover {
    opacity: 1;
    background-color: #65D36E;
    transition-duration: .3s;
    transition-timing-function: ease;
    color: black;

}