.wrap {
    margin-top: 70px;
}

.list {
    
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 16px;
    list-style: none;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(1, 300px);
    margin-bottom: -10px;

}

.card {
    background-color: var(--main-white);
    text-align: start;
    background-color: #1c1c1c;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 6px;
}

.card:hover {
    transform: scale(1.05);
}



/* .img{
    background-image: url();
    background-repeat: no-repeat;
    object-fit: fill;
    object-position: 50% 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
} */

.name{
    margin-bottom: 20px;
}

.btn{
    display: inline-block;
    font-family: 'Montserrat';
    padding: 8px;
    border-radius: 15px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
    opacity: 1;
    background-color: #65D36E;
    transition-duration: .3s;
    transition-timing-function: ease;
    color: black;

}