.sideBar {
    display: flex;
    flex-direction: column;
    padding: 0px 30px 0px 30px;
    background-color: rgb(0,0,0);
    position: fixed;
    left: 0;
    top: 0;
    width: 330px;
    height: 100%;
}
.userWrapper {
    display: flex;
    justify-content: space-around;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 100px;

}
