@import-normalize; 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

:root{
  --text-color:#ffffff;
  --main-bg-color:#050507;
  --secondary-bg-color:#362E2D;
  --main-neutral-color:#7C8685;
  --secondary-neutral-color:#AAACA1;
  --accent-color:#E3311D;
}

*,
::before,
::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url(./shared/images/bg-image.jpg) ; */
  color: white;
  background-color: #131313;
  background-repeat: no-repeat;
  background-position: center;
  
  
  font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
